A tutorial for website scrapping using the Requests and BeautifullSoup libraries.

In [155]:
import requests # To be able to access websites we wish to scrap.
from bs4 import BeautifulSoup
import csv
import pandas as pd

In [156]:
url='http://ensias.um5.ac.ma/page/ing%C3%A9nieurs' # We will extract first names of Allumni from my own school ENSIAS for the 2015 promo.

In [158]:
req=requests.get(url) 
status=req.status_code # Status of the connection attempt if everything is good this should have a 200 value.
encoding=req.encoding
text=BeautifulSoup(req.text,'html.parser')
print(status)

200

In [65]:
data=text.findAll('tr')
for item in data:
    pass
item

<tr height="20"><td align="right" height="20" style="height:20px;">183</td>
<td align="left">ZRAIBI</td>
<td align="left">SALMA</td>
</tr>

In [66]:
a=item.contents
a

[<td align="right" height="20" style="height:20px;">183</td>,
 '\n',
 <td align="left">ZRAIBI</td>,
 '\n',
 <td align="left">SALMA</td>,
 '\n']

In [67]:
print('Liste eleve promo 2015: ')
for item in data:
    a=item.contents
    print('Nom: ',a[2].text,' Prenom: ',a[4].text)

Liste eleve promo 2015:
Nom:  ABI  Prenom:  YASSIR
Nom:  ABIDALLAH  Prenom:  YOUSSEF
Nom:  ACHAOUD  Prenom:  HANANE
Nom:  ADDAD  Prenom:  ABDELHALIM
Nom:  AFIF  Prenom:  MOHAMMED
Nom:  AIT EL HAJ  Prenom:  KHADIJA
Nom:  AIT EL HARRAJ  Prenom:  AMINE
Nom:  AIT MANSOUR  Prenom:  YOUSSEF
Nom:  AITOUNA  Prenom:  MOHAMED
Nom:  AL MAACH  Prenom:  WAHIBA
Nom:  ALAOUI MRANI  Prenom:  SOUKAINA
Nom:  ALLAOU  Prenom:  MARIAME
Nom:  ALMAMOUN  Prenom:  ZAKARIAE
Nom:  AMARA  Prenom:  HALA
Nom:  AMCHICH  Prenom:  IMANE
Nom:  AMENCHAR  Prenom:  NABIL
Nom:  AMMARI  Prenom:  KHALID
Nom:  AMNAS  Prenom:  ASMAE
Nom:  AOULADLAHCEN  Prenom:  MOHAMMED
Nom:  AOUNI  Prenom:  HAMZA
Nom:  AOURAGH  Prenom:  YOUNESSE
Nom:  AOUTIL  Prenom:  AHMED
Nom:  AQQA  Prenom:  MILOUD
Nom:  BAHADOU  Prenom:  HIND
Nom:  BARBARE  Prenom:  MOHAMMED AMINE
Nom:  BELAKHAL  Prenom:  HAMZA
Nom:  BELGHITI  Prenom:  MEHDI
Nom:  BELJEBBAR  Prenom:  ALAEDDINE
Nom:  BELKANDOUCI  Prenom:  BAHIYA
Nom:  BELLAHCENE  Prenom:  TAHA
Nom:  BELRHALMIA  Prenom:  WALID
Nom:  BEN SALEH  Prenom:  SAIDA
Nom:  BENABDALMALEK  Prenom:  ZAKARIYA
Nom:  BENHALIMA  Prenom:  FADOUA
Nom:  BENKACEM  Prenom:  ILIAS
Nom:  BENKIRANE  Prenom:  MEHDI
Nom:  BENMOUHOU  Prenom:  SOUAD
Nom:  BETACHNI  Prenom:  TARIQ
Nom:  BEZRHOUD  Prenom:  IBRAHIM
Nom:  BEZRHOUDI  Prenom:  MOHAMMED REDA
Nom:  BOUALOU  Prenom:  OUMNIA
Nom:  BOUCHNAFA  Prenom:  ANASS
Nom:  BOUDHAIM  Prenom:  BACHIR
Nom:  BOUDOUH  Prenom:  HAMZA
Nom:  BOUFALA  Prenom:  ABDELALI
Nom:  BOUHMID  Prenom:  MUSTAPHA
Nom:  BOUKHARTA  Prenom:  MEHDI
Nom:  BOULAICH  Prenom:  MOHAMED
Nom:  BOUQOUROU  Prenom:  KELTOUM
Nom:  BOURHIM  Prenom:  SOFIA
Nom:  BOURZIZ  Prenom:  NABIL
Nom:  BOUSADIK  Prenom:  HOUSSAM
Nom:  BOUTJIM  Prenom:  ABDELMAJID
Nom:  CHABLI  Prenom:  SAAD
Nom:  CHARIF TRIBAK  Prenom:  SARA
Nom:  CHARMOUKI  Prenom:  HICHAM
Nom:  CHERBI  Prenom:  MEHDI
Nom:  DAHA  Prenom:  FATIMA ZOHRA
Nom:  DAHMANE  Prenom:  YOUSSEF
Nom:  DJEKMANI  Prenom:  AZZ EDDINE
Nom:  DJOHAR  Prenom:  REDA
Nom:  DRIOUI  Prenom:  HAFSA
Nom:  EL ALAMI  Prenom:  SALIM
Nom:  EL ALLAM  Prenom:  HASSNA
Nom:  EL AMRANI  Prenom:  MOHAMMED
Nom:  EL ASSAL  Prenom:  SOUFIANE
Nom:  EL BOUATMANI  Prenom:  IMAD
Nom:  EL HMAIDI  Prenom:  MADIHA
Nom:  EL HOUR  Prenom:  ABDELHAFID
Nom:  EL IBRAHIMI  Prenom:  NOUSSAIBA
Nom:  EL JAOUSSI  Prenom:  YOUSSEF
Nom:  EL MADANI  Prenom:  SOUMIA
Nom:  EL MESSOUSSI  Prenom:  MOHAMMED YASSIR
Nom:  EL MOUDDEN  Prenom:  WAIIL
Nom:  EL MZOURI  Prenom:  HAYAT
Nom:  EL OUAKILI  Prenom:  HAMZA
Nom:  EL YOUSSOUFI  Prenom:  KHADIJA
Nom:  ELAISSAOUI  Prenom:  ISMAIL
Nom:  ERRARHBI  Prenom:  AYOUB
Nom:  ESSAADANI  Prenom:  SOUFIANE
Nom:  ESSEIDI  Prenom:  ANAS
Nom:  EZZAKRI  Prenom:  NOURDINE
Nom:  FAHIM  Prenom:  ABDELOUAHID
Nom:  FATEMI  Prenom:  SOUMAYA
Nom:  FHAMNI  Prenom:  YOUNES
Nom:  GAIZI  Prenom:  ZINEB
Nom:  GEBRATI  Prenom:  SARA
Nom:  GRINI  Prenom:  ACHRAF
Nom:  HABIB  Prenom:  YOUNESS JALAL
Nom:  HADI  Prenom:  HALIMA
Nom:  HAJJAR  Prenom:  MOHAMED AYOUB
Nom:  HAJOULI  Prenom:  SOUKAINA
Nom:  HAMDANE  Prenom:  ABD ALMAJIDE
Nom:  HAMIDA  Prenom:  AYOUB
Nom:  HAMZA  Prenom:  MARIAMA
Nom:  HIDAYAT ALLAH  Prenom:  YOUNES
Nom:  IBEN BRAHIM  Prenom:  SOUMAYA
Nom:  IDRISSI  Prenom:  OSSAMA
Nom:  IMAM  Prenom:  ANAS
Nom:  IZDOUZEN  Prenom:  SAID
Nom:  JABAL  Prenom:  GHIZLANE
Nom:  JABRI  Prenom:  IMANE
Nom:  KADIMI SKALLI  Prenom:  DOUNIA
Nom:  KAHLI  Prenom:  ILIASS
Nom:  KANDOUSSI  Prenom:  EL MEHDI
Nom:  KHAMLICHI  Prenom:  AMINE
Nom:  KHANNAT  Prenom:  AICHA
Nom:  KINANI  Prenom:  YOUNESS
Nom:  KORACHI  Prenom:  ZINEB
Nom:  KORAMI  Prenom:  YASSIR
Nom:  LAGMANI  Prenom:  SALMA
Nom:  LAKSSIOUER  Prenom:  AHMED
Nom:  LANOUNI  Prenom:  ACHRAF
Nom:  LAOUZI  Prenom:  ROUKIA
Nom:  LBOUCHOUARI  Prenom:  MUSTAPHA
Nom:  LEMBARKI  Prenom:  MOHAMED AMINE
Nom:  LOGDALI  Prenom:  SOUFIANE
Nom:  LOTFI EL IDRISSI  Prenom:  OTHMANE
Nom:  LOUGHZAFI  Prenom:  YACIRE
Nom:  MACHKOUR  Prenom:  MONCEF
Nom:  MAGHRAOUI  Prenom:  ABDELHAKIM
Nom:  MAIOUAK  Prenom:  MARIEM
Nom:  MAKBOUB  Prenom:  HAJAR
Nom:  MAMMAR  Prenom:  GHITA
Nom:  MASBAH  Prenom:  REDOUAN
Nom:  MASK  Prenom:  MERYEM
Nom:  MASSOU  Prenom:  SANA
Nom:  MEDRANI  Prenom:  SOUFIA
Nom:  MERIZAK  Prenom:  YOUSSEF
Nom:  MERZAQ  Prenom:  SELIM
Nom:  MESBAHI  Prenom:  SOUMIA
Nom:  MESSOUDI  Prenom:  SOUNDOUSS
Nom:  METWALLI  Prenom:  AYOUB
Nom:  MIFDAL  Prenom:  ABDELALI
Nom:  MIHI  Prenom:  KAOUTAR
Nom:  MORCHID  Prenom:  ZAKARIA
Nom:  MOUDEN  Prenom:  KENZA
Nom:  MOUHARRIR  Prenom:  SARA
Nom:  MOULOU  Prenom:  ZAKARIA
Nom:  NABIL  Prenom:  SOUFIANE
Nom:  NAJIH  Prenom:  YAAKOUB
Nom:  NEJJARI  Prenom:  LOUBNA
Nom:  OMARI  Prenom:  SOUFIANE
Nom:  OUAGAGUE  Prenom:  MOSTAFA
Nom:  OUKHEYI  Prenom:  BRAHIM
Nom:  OULHAJ  Prenom:  JAMILA
Nom:  RACHID  Prenom:  AMINE
Nom:  RAOUDI  Prenom:  YASSINE
Nom:  RAYADH  Prenom:  CHAIMAE
Nom:  REZZOUQI  Prenom:  HASNAE
Nom:  REZZOUQI  Prenom:  HAJAR
Nom:  ROUANE  Prenom:  KAWTAR
Nom:  SAADI  Prenom:  MASSYLE
Nom:  SABRE  Prenom:  NABIL
Nom:  SADEQ  Prenom:  ALI
Nom:  SAIDI  Prenom:  MOHAMMED AMINE
Nom:  SAIED  Prenom:  YASSINE
Nom:  SAILOUHI  Prenom:  LAMIAA
Nom:  SAKKAH  Prenom:  HASNAE
Nom:  SAOUALAH  Prenom:  JIHAD
Nom:  SARA  Prenom:  HAMZA
Nom:  SEFIANE  Prenom:  HAMZA
Nom:  SIDIKOU ISSA HAROUNA  Prenom:  AMINATOU
Nom:  SOALI  Prenom:  YASSAMINE
Nom:  TAHIR  Prenom:  KAOUTAR
Nom:  TAHIRI AMINE  Prenom:  MOHAMMED
Nom:  TANTAOUI  Prenom:  MOHAMED
Nom:  TAOUDI EDRISSI  Prenom:  HASNAA
Nom:  TAZLAFT  Prenom:  AMINE
Nom:  TERHZAZ  Prenom:  SIHAM
Nom:  TERIKI  Prenom:  FATIMA EZZAHRA
Nom:  TORRES  Prenom:  DINA
Nom:  YACHAOUI  Prenom:  AYMAN
Nom:  YOUSFI  Prenom:  AOLA
Nom:  ZAHIR  Prenom:  OMAR
Nom:  ZAIDI  Prenom:  OUSSAMA
Nom:  ZAKHNINI  Prenom:  ABDELLAH
Nom:  ZEKRAOUI  Prenom:  IMANE
Nom:  ZEROUAL  Prenom:  YASSINE
Nom:  ZEROUAL  Prenom:  ISSAM
Nom:  ZNAIDI  Prenom:  YASSER
Nom:  ZOUAGUI  Prenom:  ZINEB
Nom:  ZRAIBI  Prenom:  SALMA

In [68]:
url='https://www.jumia.com.ng/laptops/'

In [69]:
req=requests.get(url)
status=req.status_code
encoding=req.encoding
text=BeautifulSoup(req.text,'html.parser')
print(status)

200

In [70]:
data=text.findAll('a',{'class':'link'})
for item in data:
    pass
item

<a class="link" href="https://www.jumia.com.ng/envy-13-8th-gen-intel-core-i7-1.8-up-to-4.0ghz-8gb256gb-ssd-1tb-external-hdd13.3-inch-wins-10-hp-mpg340803.html"> <div class="top"> </div> <div class="image-wrapper default-state"><img alt="Envy 13 8th Gen Intel Core I7-1.8 Up To 4.0Ghz (8GB,256GB SSD + 1TB External HDD)13.3-inch Wins 10" class="lazy image" data-image-vertical="1" data-placeholder="placeholder_m_1.jpg" data-sku="HP246EL0Y6WEGNAFAMZ" data-src="https://ng.jumia.is/ZvPUy7w_tDOu6EzuF01LXxJgs0g=/fit-in/220x220/filters:fill(white):sharpen(1,0,false):quality(100)/product/57/428872/1.jpg?5409" height="220" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="220"/><noscript><img class="image" height="220" src="https://ng.jumia.is/ZvPUy7w_tDOu6EzuF01LXxJgs0g=/fit-in/220x220/filters:fill(white):sharpen(1,0,false):quality(100)/product/57/428872/1.jpg?5409" width="220"/></noscript></div> <h2 class="title"><span class="brand">Hp </span> <span class="name" dir="ltr">Envy 13 8th Gen Intel Core I7-1.8 Up To 4.0Ghz (8GB,256GB SSD + 1TB External HDD)13.3-inch Wins 10</span></h2><div class="price-container clearfix"><span class="sale-flag-percent">-12%</span> <span class="price-box ri"> <span class="price"><span data-currency-iso="NGN">₦</span> <span data-price="380000" dir="ltr">380,000</span> </span> <span class="price -old"><span data-currency-iso="NGN">₦</span> <span data-price="430000" dir="ltr">430,000</span> </span> </span></div> <div class="rating-stars"><div class="stars-container"><div class="stars" style="width: 20%"></div></div> <div class="total-ratings">(1)</div> </div> <div class="list -sizes" data-selected-sku=""> </div> <button class="osh-btn -primary -add-to-cart js-link js-add_cart_tracking" data-add-to-cart-type="catalogPage" data-emit-event="cart-item.add" data-js-uri="https://www.jumia.com.ng/ajax/cart/add/?return=json&amp;keepMessages=false&amp;sku=HP246EL0Y6WEGNAFAMZ-37006773&amp;crossSellSku=" data-sku="HP246EL0Y6WEGNAFAMZ" data-sku-simple="HP246EL0Y6WEGNAFAMZ-37006773"> <span class="label">Buy now</span> </button> <div class="osh-popup -template -checkout link hidden js-back-in-stock-reminder-popup-HP246EL0Y6WEGNAFAMZ" data-close-callback="" data-href="https://www.jumia.com.ng/ajax/reminder/getreminderform/sku/HP246EL0Y6WEGNAFAMZ/" data-open-callback="popup.BackInStockReminder.open" data-style="back-in-stock-reminder" data-title="Please notify me when this product is available again" data-type="ajax"></div> </a>

In [86]:
brand=item.find_all('span',{'class':'brand'})[0].text.strip()
name=item.find_all('span',{'class':'name'})[0].text.strip()
price=item.find_all('span',{'class':'price'})[0].text.strip()
print('Mark: ',brand,'\nNom: ',name,'\nPrix: ',price)

Mark:  Hp
Nom:  Envy 13 8th Gen Intel Core I7-1.8 Up To 4.0Ghz (8GB,256GB SSD + 1TB External HDD)13.3-inch Wins 10
Prix:  ₦ 380,000

In [93]:
img=item.find('img',{'class':'lazy image'})
img_src=img.get('data-src')
img_src

'https://ng.jumia.is/ZvPUy7w_tDOu6EzuF01LXxJgs0g=/fit-in/220x220/filters:fill(white):sharpen(1,0,false):quality(100)/product/57/428872/1.jpg?5409'

In [103]:
def get_img(url_img,id):
    r=requests.get(url_img)
    if r.status_code==200:
        #img = Image.open(BytesIO(r.content))
        img_container="E:/"+str(id)+'.jpg'
        with open(img_container ,'wb') as f:
            f.write(r.content)

In [104]:
get_img(img_src,1)

![](1.jpg)

In [150]:
DataFrame=pd.DataFrame(columns=['Lang', 'Num Artic'])

In [113]:
url='https://www.wikipedia.org/'

In [114]:
req=requests.get(url)
status=req.status_code
encoding=req.encoding
text=BeautifulSoup(req.text,'html.parser')
print(status)

200

In [140]:
data=text.findAll('div',{'class':'central-featured'})
for item in data:
    pass
item.contents[].findAll('bdi')[0].text

'5\xa0935\xa0000+'

In [153]:
i=7
while i<44:
    l=[item.contents[i].findAll('strong')[0].text.strip(),item.contents[i].findAll('bdi')[0].text.strip()]
    DataFrame.loc[i-7]=l
    i+=4

In [154]:
DataFrame

              Lang   Num Artic
0          English  5 935 000+
4         EspaÃ±ol  1 546 000+
8        æ¥æ¬èª  1 169 000+
12         Deutsch  2 345 000+
16  Ð ÑÑÑÐºÐ¸Ð¹  1 569 000+
20       FranÃ§ais  2 141 000+
24        Italiano  1 554 000+
28          ä¸­æ  1 074 000+
32      PortuguÃªs  1 014 000+
36          Polski  1 360 000+

In [20]:
def getData(text):
    for item in text.findAll('td'):
        yield item

In [21]:
i=0
for item in getData(text):
    if i<3:
        pas
        print(item)
        i+=1
    else:
        break

<td align="right" height="20" style="height:20px;width:87px;">1</td>
<td align="left" style="width:157px;"><span data-scayt_word="ABI" data-scaytid="1">ABI</span></td>
<td align="left" style="width:143px;"><span data-scayt_word="YASSIR" data-scaytid="2">YASSIR</span></td>